.projects {
    clear: both;
    background-color: #010F14;
}

.project {
    height: 70vh;
    box-sizing: border-box;
    position: relative;
}

.projects,
.project {
    display: block;
    overflow: visible;
    width: 100%;
}

.frame {
    position: absolute;
    width: 90%;
    height: 60%;
    inset: 20% 5%;
    background-color: black;
}

.frame-back {
    position: absolute;
    height: 80%;
    width: 300%;
    top: 20%;
    box-shadow: inset 0px 0px 20px 20px #010F14;
    background-color: transparent;
}

.project-img-container {
    left: 0px;
}

.project-info {
    right: 0px;
    padding: 5%;
    box-sizing: border-box;
}

.project-img-container,
.project-info {
    position: absolute;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
}

.project-tools {
    color: #C31D50;
}

.project-img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.line-break {
    width: 50%;
    height: 0px;
    border: 1px solid white;
    margin: 20px;
}
