@media only screen and (max-width: 480px) {
    
    .contact-info {
        width: 80%;
        inset: 20% 10%;
    }
    
    .contact-info::before {
        border-width: 2px;
        top: -10%;
        left: -5%;
    }
    
    .contact-info::after {
        border-width: 2px;
        bottom: -10%;
        right: -5%;
    }
    
    .large-button {
        font-size: 12px;
        letter-spacing: 2px;
        min-height: 60px;
        padding: 20px;
    }
    
    .contact-corner {
        height: 100%;
        width: 100%;
    }
}