@media only screen and (max-width: 480px) {
    .about-me-info {
        width: 100%;
        height: 80%;
    }
    
    .about-me-info {
        padding: 5% 10%;
    }
    
    .about-me-title {
        padding-bottom: 30px;
    }
}