@media only screen and (max-width: 480px) {
    
    .project {
        height: 100vh;
    }

    .project-img-container {
        height: 30%;
        top: 10%;
    }
        
    .project-info {
        height: 50%;
        bottom: 10%;
        padding: 10%;
    }
    
    .project-img-container,
    .project-info {
        float: none;
        width: 100%;
    }
    
    .frame {
        height: 100%;
        inset: 0 5%;
    }
    
    .frame-back {
        height: 200%;
        width: 100%;
        top: 70%;
    }

    
    .line-break {
        width: 50%;
        height: 0px;
        border: 1px solid white;
        margin: 10px;
    }
}