@media only screen and (max-width: 480px) {

    .what-i-do-info {
        padding: 10%;
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .what-i-do-title {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .corner-border {
        border: 2px solid white;
        border-right: none;
        border-bottom: none;
    }

    .what-i-do-text {
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 80%;
    }

    .background-video {
        position: absolute;
        width: 100%;
        top: 15%;
        left: -10%;
    }


}