.about-me {
    height: 100vh;
    width: 100%;
    background-color: #010F14;
    position: relative;
}

.about-me-info {
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    /*background-color: #141210;*/
    padding: 5%;
    margin: auto;
    position: absolute;
    inset: 0px;
}

.about-me-title {
    /*color: #2BB789;*/
    color: #C31D50;
    padding-bottom: 40px;
}

.about-me-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-media {
    width: 100%;
    height: 30px;
    margin: auto;
}

.social-media-list {
    width: 50%;
    height: 100%;
    margin: 20px auto;
}

.social-media-item {
    height: inherit;
    width: 25%;
    float: left;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
}

.social-media-link {
    display: block;
    height: 100%;
    width: 100%;
}